<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3" style="margin-top:20px;">
    <%= form.label :amount, style: "display: block", class: "form-label" %>
    <%= form.text_field :amount,  style: "width: 50%", class: "form-control", placeholder: "255" %>
  </div>

  <div class="mb-3">
    <%= form.label :operation_date, style: "display: block" %>
    <%= form.datetime_field :operation_date %>
  </div>

  <div class="mb-3">
    <%= form.label :description, style: "display: block", class: "form-label"  %>
    <%= form.text_field :description,  style: "width: 50%", class: "form-control", placeholder: "Gloves for football"  %>
  </div>

<!--block select category from drop-down meny-->
  <div class="mb-3">
    <%= form.label :category_id, style: "display: block", class: "form-label" %>
    <%= select(:operation, :category_id, options_for_select(@categories)) %>
  </div>
<!--end block select category from drop-down meny-->

<br>
  <div class="mb-3">
   <%= form.submit  class: "btn btn-outline-secondary" %>
  </div>
<% end %>
