<div id="<%= dom_id operation %>">
  
  <tr>      
    <th scope="row"><%= operation.id %></th>
    <td><%= operation.operation_date %></td>
    <td><%= operation.description %></td>
    <td><%= operation.amount %></td>
    <td><%= link_to "Show this operation", operation %>   
    </td>
  </tr>

</div>
