<p style="color: green"><%= notice %></p>

<div> 
  <p>    
    <strong>Operation id: </strong><%= @operation.id %>
  </p>

  <p>    
    <strong>Amount: </strong> <%= @operation.amount %>
  </p>

  <p>    
    <strong>Description: </strong><%= @operation.description %>
  </p>

  <p>    
    <strong>Operation date: </strong><%= @operation.operation_date %>
  </p>
</div>

<div>
 <%= button_to "Destroy this operation", @operation, method: :delete %>
 <br>

  <button class="btn btn-outline-secondary">
    <%= link_to "Edit this operation", edit_operation_path(@operation) %>
  </button> 

  <button class="btn btn-outline-secondary">
    <%= link_to "Back to operations", operations_path %>
  </button>


</div>